<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL shortener service by verticaldata1!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  
  <body>
    <div class="text-center">    
      <h1>URL shortener service by verticaldata1!</h1>
      <p>Enter a URL and receive a shortened URL. Just visit https://vd1-shortify.glitch.me/new/urlToShorten.</p>
      <p>Example: try <a href="https://vd1-shortify.glitch.me/new/https://www.flickr.com/photos/verticaldata/30213144593/in/dateposted-public/" 
                         target="_blank">/new/https://www.flickr.com/photos/verticaldata/30213144593/in/dateposted-public/</a></p>
    </div>
  </body>
  
</html>